.hidden {
  display: none;
}

body {
  background-image: url("../img/222fc65ea7720f5aff83cfaff6e3567f_large.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 20px;
  font-size: 48px;
}

#login-form {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

#login-form input:first-of-type {
  border: none;
  border-bottom: solid white 1px;
  background: transparent;
  width: 250px;
  font-size: 24px;
  color: white;
}

#login-form input:last-child {
  border: solid white 1px;
  background: transparent;
  color: white;
}

.todo-container {
  position: absolute;
  left: 5vw;
  top: 35vh;
}

.remove-storage {
  margin-left: 2vw;
}

#quote {
  display: flex;
  justify-content: center;
}

.weather {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  bottom: 3vh;
  right: 5vw;
  margin-top: 50px;
  margin-bottom: 0;
}

.quote {
  position: absolute;
  bottom: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.greeting {
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}
