@import "login-form.css";
@import "image.css";
@import "quote.css";
@import "todo.css";
@import "dday.css";
@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Zen+Kurenaido&display=swap");

body {
  background-color: rgb(1, 1, 40);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

.hidden {
  display: none;
}

.remove-storage {
  margin-left: 20px;
}

.weather {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  top: -3vh;
  right: 30px;
  margin-top: 50px;
  margin-bottom: 0;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 0;
  font-size: 48px;
}
